<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IBBAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TextSessionAlert" value="En un (1) minuto su sesión va a finalizar por falta de actividad." />
    <add key="TextSessionCurrent" value="Tiempo de Sesión: " />
    <add key="TextSessionFinished" value="Su sesión ha caducado." />    
    <add key="SessionTimeOut" value="30:00" />
    <add key="ValidarSesion" value="true" />
    <add key="PathReferencia" value="https://www.bavenlinea.com.ve" />

    <!-- Configuracion del Email -->
    <add key="Remitente" value="bavenlinea@bav.com.ve" />
    <add key="ConfigNameSpace" value="+yAba9dO60kaEoWMFrh9ktI+2r7LxTKeSeLH7QpRERdTOZrp/S5QpeLOhP1HhID9" />
    <add key="SmtpServer" value="smtp.bav.com.ve" />
    <add key="SmtpServerPort" value="25" />
    <add key="SendUsing" value="Pruebas.pagina@bav.com.ve" />
    <add key="SendUserName" value="Pruebas.pagina@bav.com.ve" />
    <add key="SendPassword" value="Venezuela1" />
    <add key="SmtpAuthenticate" value="true" />

    <!-- Key Mensajes-->
    <add key="ConfirmarTransaccion" value="Presiona Aceptar si deseas realizar esta operación." />

    <!-- Key IBS-->
    <add key="KeyIBS" value="+cu/7INMPX0SPmUvS6qKfHag0cwuWfNZFBpfXV+i5GoyBuDcgjB2uw==" />

    <!-- Pie de correos -->
    <add key="CorreoAtencionCliente" value="atencionalcliente@bav.com.ve" />
    <add key="PaginaUrl" value="www.bav.com.ve" />
	
	<!-- Datos Servicio Mensajeria -->
    <add key="TedexisPassport" value="VBAGV" />
    <add key="TedexisPassword" value="D2RUHF" />
  </appSettings>
  
  <connectionStrings />
  <system.web>
	<globalization culture="es-VE" uiCulture="es-VE" />

  <customErrors mode="Off" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <IBBAV.Properties.Settings>
      <setting name="IBBAV_WsIbsService_IbsService" serializeAs="String">
        <value>http://172.18.52.162:8080/bavWebSrvIbs/services/IbsService</value>
      </setting>
      <setting name="IBBAV_WsIbsService_IbsServiceService" serializeAs="String">
        <value>http://172.19.52.230:8080/bavWebSrvIbs/services/IbsService</value>
      </setting>
      <setting name="IBBAV_WsNotif_IBP_WsNotif_IBP_asmx" serializeAs="String">
        <value>http://172.19.52.230:8084/WsNotif_IBP.asmx.asmx</value>
      </setting>
      <setting name="IBBAV_WSTedexis_M4WSIntSR" serializeAs="String">
        <value>http://200.41.57.109:8086/m4.in.wsint/services/M4WSIntSR.M4WSIntSRHttpSoap11Endpoint/</value>
      </setting>
      <setting name="IBBAV_WsMenu_WsMenu" serializeAs="String">
        <value>http://172.19.52.230:8082/WsMenu.asmx</value>
      </setting>
      <setting name="IBBAV_WsSession_WsSession" serializeAs="String">
        <value>http://172.19.52.230:8082/WsSession.asmx</value>
      </setting>
      <setting name="IBBAV_WsErrores_WsErrores" serializeAs="String">
        <value>http://172.19.52.230:8082/WsErrores.asmx</value>
      </setting>
      <setting name="IBBAV_WsLogons_WsLogons" serializeAs="String">
        <value>http://172.19.52.230:8082/WsLogons.asmx</value>
      </setting>
      <setting name="IBBAV_WsGlobal_WsGlobal" serializeAs="String">
        <value>http://172.19.52.230:8082/WsGlobal.asmx</value>
      </setting>
      <setting name="IBBAV_WsFavoritos_WsFavoritos" serializeAs="String">
        <value>http://172.19.52.230:8082/WsFavoritos.asmx</value>
      </setting>
      <setting name="IBBAV_WsServicios_WsServicios" serializeAs="String">
        <value>http://172.19.52.230:8082/WsServicios.asmx</value>
      </setting>
      <setting name="IBBAV_WsTransaccion_WsTransaccion" serializeAs="String">
        <value>http://172.19.52.230:8082/WsTransaccion.asmx</value>
      </setting>
      <setting name="IBBAV_WsMensajeria_Service" serializeAs="String">
        <value>http://172.19.52.230:8083/Service.asmx</value>
      </setting>
      <setting name="IBBAV_WsExtraefectivo_ExtraCreditoService" serializeAs="String">
        <value>http://172.19.52.230:8080/Adelanto_Credito_SOAP/services/ExtraCredito</value>
      </setting>
      <setting name="IBBAV_WsAfiliados_WsAfiliados" serializeAs="String">
        <value>http://172.19.52.230:8082/WsAfiliados.asmx</value>
      </setting>
    </IBBAV.Properties.Settings>
  </applicationSettings>
 <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="Login.aspx" />
                <add value="sessionlogout.aspx" />
                <add value="logout.aspx" />
                <add value="frame.aspx" />
                <add value="forcelogout.aspx" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://www.bavenlinea.com.ve/iisstart.htm" exactDestination="true" childOnly="true" httpResponseStatus="Temporary" />
        <httpProtocol>
            <customHeaders>
                <remove name="tst" />
		<add name="Access-Control-Allow-Origin" value="https://201.249.236.185" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>