.table-bav > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}

    .table-bav > tbody > tr > td > input,
    .table-bav > tbody > tr > td > select
     {
        margin-left: 15px;
        margin-right: 15px;
    }

    .table-bav > tbody > tr > td.fieldTxt {
        text-align: right;
        font-weight: bold;
        vertical-align: middle;
        width:30%;
    }

    .table-bav > tbody > tr > td.fieldVal {
        width:40%;
        white-space:nowrap;
    }

    .table-bav > tbody > tr > td.fieldInf {
        padding-left: 15px;
        vertical-align: middle;
        width:30%;
    }

    .table-bav > tbody > tr > td.fieldTxt2 {
        text-align: left;
        font-weight: bold;
        vertical-align: middle;
    }

    .table-bav > tbody > tr > td.fieldVal2 {
    }

    .table-bav > tbody > tr > td.fieldInf2 {
        padding-left: 15px;
        vertical-align: middle;
        text-align: right;
    }

    .table-bav > tbody > tr > td.buttons {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    /*padding: 0px !important;*/
    vertical-align:middle !important;
}

.form-group {
    margin-bottom: 2px !important;
}

.fixed-table-header {
     -webkit-box-shadow: inset 0px 1px 0px 0px #8E8E8D;
            box-shadow: inset 0px 1px 0px 0px #8E8E8D;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8E8E8D), color-stop(1, #B8B2B2));
            background: -moz-linear-gradient(top, #8E8E8D 5%, #B8B2B2 100%);
            background: -webkit-linear-gradient(top, #8E8E8D 5%, #B8B2B2 100%);
            background: -o-linear-gradient(top, #8E8E8D 5%, #B8B2B2 100%);
            background: -ms-linear-gradient(top, #8E8E8D 5%, #B8B2B2 100%);
            background: linear-gradient(to bottom, #8E8E8D 5%, #B8B2B2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8E8E8D', endColorstr='#B8B2B2',GradientType=0);
            background-color: #8E8E8D;
}
.bootstrap-table .table {
    border-bottom: none!important;
}
.table>thead>tr>th{border-bottom:none !important; }
.fixed-table-container thead th .th-inner {
     padding: 0 5px 0 5px !important;
}

.fixed-table-container {
    padding-bottom: 25px !important;
    margin-bottom: 1px !important;
}

.well {
    padding:5px !important;
    padding-right:10px !important;
}

.input-group-addon {
    font-size:12px !important;
    padding: 2px 10px !important;
    height: 25px !important;
}

.form-control {
    padding: 2px 10px !important ;
    height: 25px !important;
    display:initial !important;
}
.checkbox, .radio {
    margin-top : 5px !important;
    margin-bottom : 5px !important;
}

.input-group-btn  select {
    width:auto !important;
}